
@fontPath: "../fonts/";

@font-face {
	font-family: 'CrimsonTextBoldItalic';
	src: url('@{fontPath}/crimsontext-bolditalic.eot');
	src: url('@{fontPath}/crimsontext-bolditalic.eot') format('embedded-opentype'),
		 url('@{fontPath}/crimsontext-bolditalic.woff') format('woff'),
		 url('@{fontPath}/crimsontext-bolditalic.ttf') format('truetype'),
		 url('@{fontPath}/crimsontext-bolditalic.svg#CrimsonTextBoldItalic') format('svg');
}
