
// if lt IE 7
	.ie6nomore-container
		.wrap
			h1 谢绝ie6或低版本浏览器访问, 请升级浏览器再访问
			p 微软
				code ie6
				发布于2001年末, 在当时是相当好的浏览器, 但现在已经 outdate 已久。
			p
				code ie6
				不支持
				code HTML5
				, 不支持
				code CSS3
				, 不支持透明
				code PNG
				, 不稳定, 还有一系列得
				code 安全问题
			p 微软一贯建议用户升级到最新版本的微软浏览器，最新版本的
				code ie
				在速度、安全和稳定性上进行了改进，并为方便用户添加了众多新功能。
			p 不过我们还是建议您安装
				code Chrome
				或者
				code Firefox
				这两款主流浏览器
			p 主流网站如
				code YouTube
				,
				code Digg
				,
				code Orkut
				,
				code Facebook
				等正在抵制
				code ie6
				, 如果可能, 更希望
				code ie6
				能在一夜之间消失。
			h3 因此为了你能体验互联网各种有趣内容和崭新得技术, 请自行升级版本 O(∩_∩)O 谢谢, 因此为你带来不便敬请原谅!
			p 更新版本可以点击这里: 
				a.upgrade(href="http://windows.microsoft.com/zh-cn/windows/home") 新版ie
				a.upgrade(href="http://firefox.com.cn/") 新版FireFox
				a.upgrade(href="http://www.google.cn/intl/zh-CN/chrome/browser/") 新版 Chrome
			p.pull-right Support
				a.ie6nomore(href="http://www.ie6nomore.com/") ie6 No More
				span.copyright By 
					a(href= config.url + config.root) iShgo Team