

if page.tags.length
	.tags_wrap.clearfix
		.caption
			i.fa.fa-tag
			&nbsp;
		ul.tags
			- page.tags.sort('posts').each(function(item) {
				li
					a(href=config.root + item.path, title= item.name)= item.name
			- });