doctype
html(lang="en")
	head
		include _partial/head

	body
		include _partial/header

		.blog-conteinr.container.container-sd
			.row
				.col-lg-8.col-md-8.col-sm-12.col-xs-12
					.main-content
						include _mixins/article
						- page.posts.each(function(article) {
							mixin article(article)
						- });

					include _partial/pagination
						
				.col-lg-4.col-md-4.col-sm-12.col-xs-12
					.sidebar-content
						aside
							include _sidebar/author
							include _sidebar/category
							include _sidebar/lively
							include _sidebar/dynamic
							include _sidebar/visitors

		include _partial/footer
		include _duoshuo/import