doctype
html(lang="en")
  head
    include _partial/head

  body
    include _partial/header

    .container.container-sm
      .row
        .col-md-9
          #post-container
            include _post/article
            include _post/tags
            include _post/categories
            include _post/share
            include _post/pagination
            include _post/comments
            
        .col-md-3
          #sidebar-container
            aside
              include _partial/author
              include _partial/category
              include _partial/lively
              include _partial/dynamic
              include _partial/visitors
            
    include _partial/footer
    include _duoshuo/import
    include _jiathis/import