doctype
html(lang="en")
  head
    include _partial/head

  body
    include _partial/header
    
    #post-container.container.container-md
      include _post/article
      include _post/tags
      include _post/categories
      include _post/share
      include _post/pagination
      include _post/comments
      include _post/prettify
                        
    include _partial/footer
    include _duoshuo/import
    include _jiathis/import