doctype
html(lang="en")
	include _partial/head

	body
		include _partial/header

		.blog-conteinr.container.container-sd
			.row
				.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12
					.article-content
						include _post/article
						include _post/tags
						include _post/categories
						include _post/share
						include _post/pagination
						include _post/comments
						include _post/prettify
												
		include _partial/footer
		include _duoshuo/import
		include _jiathis/import