

if page.author && theme.sidebar.author
	- var author = theme.author[page.author]
	if author
		.author_wrap.module
			a(href= author.profile || "javascript:void(0);", title= author.name)
				h4.caption= author.name
			.content
				a.face(title= author.name, href= author.profile || "javascript:void(0);", role="author", target="_blank")
					img(src= author.face)
				.links
					each ico, name in theme.ico
						if author[name]
							a.link(href= author[name], target="_blank")
								i(class= ico)
				.signature 个人签名：
					= author.signature