

if theme.duoshuo && theme.duoshuo.enable
  span.ds-thread(data-thread-key= encodeURIComponent(page.path), data-url= config.url + config.root + page.path, data-title= page.title, data-count-type="comments")
  