

.main-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-content .article {
	padding: 24px;
	display: block;
	color: #817c7c;
	.transition(border-left .45s);

	a.title > h3 {
		margin-top: 10px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: keep-all;
		white-space: nowrap;
		color: #666;
		font-size: 30px;
		.transition(color .35s);
	}

	a.title:hover > h3 { color: #2ca6cb; }

	.post-info {
		color: #b3b3b3;
		font-size: 18px;
		.transition(color .45s);

		a { color: #b3b3b3; }
		a:hover { color: #5faee3; }
	}

	.post-info > .author,
	.post-info > .tags,
	.post-info > .comments,
	.post-info > .date {
		margin-right: 10px;
		float: left;
		display: inline-block;
		line-height: 1;
	}

	.post-info > .tags {
		a {
			margin-right: 4px;
			max-width: 80px;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: keep-all;
			white-space: nowrap;
		}

		a:after {
			content: " ";
			color: #BCC6CA;
		}

		a:last-child:after {
			content: "";
		}
	}
	
	.post-info > .comments span {
		margin-left: 4px;
	}

	.content {
		margin-top: 20px;
		color: #817c7c;
		font-size: 16px;
	}

	.content p {
		line-height: 20px;
	}

	.content img {
		max-width: 100%;
	}
}