

meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

- var title = [];
if page.current > 1
  - title.push(__('page', page.current));
if page.title
  - title.push(page.title);
- title.push(config.title);
title= title.join(' - ')

if page.author
  meta(name="author", content= page.author)

if page.description
  meta(name="description", content= page.description)
else if config.description
  meta(name="description", content= config.description)
else if page.excerpt
  meta(name="description", content= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, ''))
else if page.content
  meta(name="description", content= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150))

if page.keywords
  meta(name="keywords", content= page.keywords)

if page.title
  meta(property="og:title", content= page.title)

meta(property="og:site_name", content= config.title)

if page.cover
  meta(property="og:image", content= page.cover)
else
  meta(property="og:image", content= config.cover)

//- lt icons
link(href= config.root + "ico/apple-touch-icon-114-precomposed.png", sizes="144x144", rel="apple-touch-icon-precomposed")
link(href= config.root + "ico/favicon.png", rel="shortcut icon")

//- lt styles
link(href= config.root + "css/bootstrap.min.css", rel="stylesheet")
link(href= config.root + "css/font-awesome.min.css", rel="stylesheet")
link(href= config.root + "css/app.css", rel="stylesheet")

include ../_baidu/statistics