

header#header-container.navbar.navbar-inverse.navbar-static-top
  .container
    a(class="navbar-brand", href!=config.root, role="banner") ishgo
    
    ul.nav.pull-right
      each path, menu in theme.menu
        li
          a(href!=path)= __('menu.' + menu)