

include ../_error/not-support

header#header.navbar.navbar-inverse.navbar-static-top(role="banner")
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#header")
				span.sr-only Toggle navigation
				.icon-bar
				.icon-bar
				.icon-bar

			a(class="navbar-brand", href!=config.root) ishgo
				
		nav.collapse.navbar-collapse(role="navigation")
			ul.nav.navbar-nav.navbar-right
				each path, menu in theme.menu
					li
						a(href!=path)= __('menu.' + menu)