head
	title
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="author", value="ishgo team")
	meta(name="description", value="rebate plugin")
	meta(name="keywords", value="browers extension")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	//- lt icons
	link(href= config.root + "ico/logo-icon.png", sizes="144x144", rel="apple-touch-icon-precomposed")
	link(href= config.root + "ico/logo-icon.png", rel="shortcut icon")

	//- lt styles
	link(href= config.root + "css/bootstrap.css", rel="stylesheet")
	link(href= config.root + "css/font-awesome.css", rel="stylesheet")
	link(href= config.root + "css/ishgo.css", rel="stylesheet")

	//- lt scripts
	script(src= config.root + "scripts/libs/modernizr.js", type="text/javascript")
	script(src= config.root + "scripts/libs/css3-mediaqueries.js", type="text/javascript")

	// if lt IE 9
		script(src= config.root + "scripts/libs/html5.js", type="text/javascript")
		script(src= config.root + "scripts/libs/respond.js", type="text/javascript")