

.btn-read {
  .transition(color .14s, background-color .14s);

  background-color: transparent;
  border: 2px solid #817c7c;
  color: @text-color;
  font-weight: bold;
}

.btn-read:hover {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}

.btn-read.btn-lg {
  .border-radius(4px);

  padding-left: 30px;
  padding-right: 30px;
}