

if theme.jiathis && theme.jiathis.enable
	.jiathis_style.share_wrap.clearfix
		.caption
		span.jiathis_txt
		a.jiathis_button_ishare 一键分享
		a.jiathis_button_tsina 新浪微博
		a.jiathis_button_tqq 腾讯微博
		a.jiathis_button_fb Facebook
		a.jiathis_button_twitter Twitter
		a.jiathis_button_googleplus Google+
		a.jiathis.jiathis_txt.jiathis_separator.jtico.jtico_jiathis(href="http://www.jiathis.com/share?uid=" + theme.jiathis.shareUID, target="_blank") 更多